body{
	margin: 0;
	padding: 0;
}
.wrapper .navbar{
	background-color: #084477;
}
.wrapper .navbar-brand {
	color: #fff;
}
.wrapper .nav-link{
	color: #333;
	font-size: 14px;
}
.text-blue {
	color:#084477;
}
.inline-slect-box {
  padding: 0;
	border: none;
	border-bottom: solid 2px #084476;
	border-radius: 0;
	display: inline-block;
	width: auto;
  float: left;
}
.inline-slect-box select {
   width: 100%;
  height: 100%;
  border: none;
  -webkit-appearance: none;
  background-image: url("../images/drop-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  background-size: 12px;
}
.wrapper .nav-link.active{
	border-bottom: solid 8px #084476;
}
.button-respond {
	background-color: #084477;
	width: 150px;
	color: #fff;
	font-weight: normal;
	border-radius: 4px;
	padding: 5px;
	border: none;
}
.btn-cancel {
	background-color: transparent;
	padding: 5px;
	margin-left: 15px;
	color:#6c757d;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 22;
  width: 100%;
  height: 100%;
  left: 0;
}

 .overlay .loader {
    color: #fff; 
}

.overlay p {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 30px; 
}

